<script>
    let cn = document.getElementById('cookie-notice');
    let ci = document.getElementById('cookie-info');
    let cna = document.getElementById('cookie-notice-accept');
    let cnd = document.getElementById('cookie-notice-decline');
    let cookieChoice = readCookie('cookie-notice-dismissed');

    if(cookieChoice == 'accepted') {
        {% include analytics.js %}
        ci.style.display = 'inline';
    } else if (cookieChoice == 'declined') {
        ci.style.display = 'inline';
    } else {
        cn.style.display = 'block';
    }

    cna.addEventListener("click", function() {
        createCookie('cookie-notice-dismissed', 'accepted', 31);
        cn.style.display = 'none';
        location.reload();
    });

    cnd.addEventListener("click", function() {
        createCookie('cookie-notice-dismissed', 'declined', 31);
        ci.style.display = 'inline';
        cn.style.display = 'none';
        location.reload();
    });

    /* let the user see the cookie notice again */
    ci.addEventListener("click", function() {
        ci.style.display = 'none';
        cn.style.display = 'block';
    });
</script>
